<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		
		<!-- DTO 별칭 -->
		<typeAlias type="com.project.spring.study.StudyDTO" alias="stdto" />
		<typeAlias type="com.project.spring.study.ApplyListDTO" alias="adto" /> 
		<typeAlias type="com.project.spring.FieldDTO" alias="fdto" />
		<typeAlias type="com.project.spring.MemberDTO" alias="mdto" />
		
		<typeAlias type="com.project.spring.skill.LicenseDTO" alias="ldto" />
		<typeAlias type="com.project.spring.skill.SubjectDTO" alias="sdto" />
		<typeAlias type="com.project.spring.skill.ProblemDTO" alias="pdto" />
		
	</typeAliases>
	
</configuration>